/*BOX*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*-------------------------------*/
    CONTAINER 
/*-------------------------------*/
.container {
    background-color: white;
    margin: 0 auto;
}

/* When you nest a row inside a column,
 * this pulls out the margin so they don't touch side by side.
 * The -10 element gets full width inside the parent element.
 *
 * When commented out and not in play, there is default pad 10px */

/*.column > .row {
    margin-left: -10px;
    margin-right: -10px;
}*/



/*-------------------------------*/
    ROWS
/*-------------------------------*/
/* Sass code for general columns
=============================*/
.row {
    width: 100%;
  
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Straight CSS code for general rows.
==============================*/
.row {
    /* as wide as the container max */
    width: 100%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*-------------------------------*/
    COLUMNS 
/*-------------------------------*/
/* Straight CSS code for general columns
==============================*/
.column {
    float: left;
    width: 100%;
    padding-right: 10px;
}
/* Remove padding in last element of column */
.column:last-of-type {
    padding-right: 0px;
}



/* Extra Small Screens - Phones
=============================*/
.col-xs-one-twelfth {
    width: 8.3%;
}
.col-xs-one-fifth {
    width: 20%;
}
.col-xs-one-fourth {
    width: 25%;
}
.col-xs-one-third {
    width: 33.33%;
}
.col-xs-one-half {
    width: 50%;
}
.col-xs-two-thirds {
    width: 66.66%;
}
.col-xs-three-fourths {
    width: 75%;
}
.col-xs-four-fifths {
    width: 80%;
}

/* Small screens - Phablets 
==============================*/
.col-sm-one-eighth {
    width: 12.5%;
}
.col-sm-one-sixth {
    width: 16.66%;
}
.col-sm-one-fifth {
    width: 20%;
}
.col-sm-one-fourth {
    width: 25%;
}
.col-sm-one-third {
    width: 33.3%;
}
.col-sm-three-eighths {
    width: 37.5%;
}
.col-sm-two-fifths {
    width: 40%;
}
.col-sm-one-half {
    width: 50%;
}
.col-sm-five-eighths {
    width: 62.5%;
}
.col-sm-two-thirds {
    width: 66.1%;
}
.col-sm-three-fourths {
    width: 75%;
}
.col-sm-four-fifths {
    width: 80%;
}

/* Medium screens - Tablets 
==============================*/
.col-md-one-twelfth {
    width: 8.33%;
}
.col-md-one-eighth {
    width: 12.5%;
}
.col-md-one-sixth {
    width: 16.66%;
}
.col-md-one-fifth {
    width: 20%;
}
.col-md-one-fourth {
    width: 25%;
}
.col-md-one-third {
    width: 33.3%;
}
.col-md-three-eighths {
	width: 37.5%;
}
.col-md-two-fifths {
    width: 40%;
}
.col-md-one-half {
    width: 50%;
}
.col-md-five-eighths {
    width: 62.5%;
}
.col-md-two-thirds {
	width: 66.1%;
}
.col-md-three-fourths {
    width: 75%;
}
.col-md-four-fifths {
    width: 80%;
}

/* Large screens - Desktops
==============================*/
.col-lg-one-twelfth {
    width: 8.33%;
}
.col-lg-one-eighth {
    width: 12.5%;
}
.col-lg-one-sixth {
    width: 16.66%;
}
.col-lg-one-fifth {
    width: 20%;
}
.col-lg-one-fourth {
    width: 25%;
}
.col-lg-one-third {
    width: 33.3%;
}
.col-lg-three-eighths {
    width: 37.5%;
}
.col-lg-two-fifths {
    width: 40%;
}
.col-lg-one-half {
    width: 50%;
}
.col-lg-five-eighths {
    width: 62.5%;
}
.col-lg-two-thirds {
    width: 66.1%;
}
.col-lg-three-fourths {
    width: 75%;
}
.col-lg-four-fifths {
    width: 80%;
}

/* Extra large screens - TV screens
==============================*/
.col-xl-one-twelfth {
    width: 8.33%;
}
.col-xl-one-eighth {
    width: 12.5%;
}
.col-xl-one-sixth {
    width: 16.66%;
}
.col-xl-one-fifth {
    width: 20%;
}
.col-xl-one-fourth {
    width: 25%;
}
.col-xl-one-third {
    width: 33.3%;
}
.col-xl-three-eighths {
    width: 37.5%;
}
.col-xl-two-fifths {
    width: 40%;
}
.col-xl-one-half {
    width: 50%;
}
.col-xl-two-thirds {
    width: 66.1%;
}
.col-xl-five-eighths {
    width: 62.5%;
}
.col-xl-three-fourths {
    width: 75%;
}
.col-xl-four-fifths {
    width: 80%;
}






/*OFFSETS*/
.offset-one-twelfth {
    margin-left: 8.33%;
}
.offset-one-tenth {
    margin-left: 10%;
}
.offset-one-eighth {
    margin-left: 12.5%;
}
.offset-one-sixth {
    margin-left: 16.66%;
}
.offset-one-fourth {
    margin-left: 25%;
}
.offset-one-third {
    margin-left: 33.3%;
}
.offset-three-eighths {
	margin-left: 37.5%;
}
.offset-one-half {
    margin-left: 50%;
}
.offset-two-thirds {
	margin-left: 66.67%;
}
