/* Removed max-width in grid */
/* Responsive design, basic display changes 
 *   Up to 770px wide
 *   771px to ___ 
 *   ___ to ___
 */

/**
 * CONTENTS
 *
 * COLORS...............Colors list.
 *
 * RESET................Normalize.css file is separate
 * Customized...........Code to handle broswer challenges.
 *
 * GENERIC
 * Grid.................Grid layout styles               
 * Helpers..............Shortcut styling helps.
 *
 * TYPOGRPAHY
 * Type.................Reset HTML or root styles. H1–H6 styles. Basic type styles.
 * Lists................Simple lists
 * Code.................Styled code blocks.
 * Forms................Basic form styles.
 * Tables...............Because tabular data or something.
 *
 * COMPONENTS
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 * Media Queries........Additional breakpoints separated if needed.
 *
 */
/*------------------------------------*\
    #COLOR LIST
\*------------------------------------*/

.primary-color {
  background-color: #4CA5D4;
}

.secondary-color {
  background-color: #7986CB;
}

.accent-color {
  background-color: #00E676;
}

/* Colors Library
   ========================================================================== */
/* Blues */
.primary-color {
  background-color: #4CA5D4;
}
.primary-color-fallback {
  background-color: #96D0E7;
}
.primary-color-lighter {
  background-color: #8FD7F4;
}
.primary-color-darker {
  background-color: #4798C2;
}

/* Greens */
.accent-color {
  background-color: #00E676;
}
.accent-color-fallback {
  background-color: #B9F6CA;
}
.accent-color-lighter {
  background-color: #69F0AE;
}
/* button active color */
.accent-color-darker {
  background-color: #00C853;
}





/*------------------------------------*\
    #RESET
\*------------------------------------*/
/*! normalize.css v3.0.3 | MIT License | 
 * github.com/necolas/normalize.css */
/*
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ 
}

/**
 * Remove default margin.
 */
body {
  margin: 0; 
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; 
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ 
}
/* Remove padding and margins from Chrome's defaults for ul and menu */
ul, menu, dir {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}


  /* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; 
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/* Helpers 
   ========================================================================== */
/*------------------------------------*\
    #HELPERS
\*------------------------------------*/
.column-centered {
    float: none;
    margin: 0 auto;
    width: 100%;
}
.empty_string {
    content: "";
}

.pretty-divider {
  margin-bottom: 4rem;
  margin-top: 4rem;
  background-color: grey;
  height: .1rem;
}
.top-buffer-4 {
  margin-top: 4rem;
}
.top-buffer-8 {
  margin-top: 8rem;
}
.bottom-buffer-4 {
  margin-bottom: 4rem;
  text-align: center;
}
.row-top-buffer {
  padding-top: 4rem;
}
.padding-top-buffer {
  padding-top: 4em;
}
.padding-bottom-buffer {
  padding-bottom: 4em;
}

.hidden {
  display: none;
}

/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
/**
 * NOTE
 * html is set to 62.5% so that all the REM measurements
 * are based on 10px sizing. So 1.5rem = 15px
 *
 */


html {
  	font-size: 62.5%; 
}

body {
  	font-size: 1.6rem;
  	line-height: 1.6;
  	font-weight: 400;
  	font-family: "Verdana", sans-serif;
  	/*color: #B7B7B7; */
    /*color: #ACACAC;*/
    color: #133456;

}


/* Headings 
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  	margin-top: 0;
  	margin-bottom: 2rem;
  	font-weight: 400;
}

h1 {
  	font-size: 45px;
  	font-size: 4.5rem;
  	line-height: 1.2;
  	letter-spacing: -.1rem;
  	font-weight: 600; 
}

h2 {
  	font-size: 32px;
  	font-size: 3.2rem;
  	line-height: 1.25;
  	letter-spacing: -.1rem;
  	font-weight: 400; 
}

h3 {
  	font-size: 24px;
  	font-size: 2.4rem;
  	line-height: 1.3;
  	letter-spacing: -.1rem;
  	font-weight: 600; 
}

h4 {
  	font-size: 20px;
  	font-size: 2rem;
  	line-height: 1.25;
  	letter-spacing: -.08rem; 
}

h5 {
  	font-size: 18px;
  	font-size: 1.8rem;
  	line-height: 1.5;
  	letter-spacing: -.05rem; 
}

h6 {
  	font-size: 15px;
  	font-size: 1.5rem;
  	line-height: 1.6;
  	letter-spacing: 0; 
}

h1 {
  	color: #4798C2; 
}

h2 {
  	color: #34495e; 
}

h3 {
  	color: #00C853; 
}

h4 {
  	color: #34495e; 
}

h5 {
  	color: #34495e; 
}

h6 {
  	color: #B7B7B7;
  	text-transform: uppercase; 
}

/* Other Elements 
   ========================================================================== */
p {
  	margin-top: 0; 
}

a {
  	color: #3498db; 
}

a:hover {
  	color: #217dbb; 
}



/* Code Blocks
   ========================================================================== */
/* Color swatches on style sheet page */
#stylesheet {
  text-align: center;
}

ul.color {
  margin-right: 20px;
  margin-bottom: 50px;
  margin-left: 20px;
  width: 330px;
  padding: 0;
  display: inline-block;
  list-style-type: none;
  
}
li.thick {
  width: 100%;
  height: 145px;
  padding: 15px;
}
li.name {
  margin-bottom: 60px;
  display: block;
}
.thin {
  width: 100%;
  padding: 15px;
}
.right {
  float: right;
}
.left {
  float: left;
}
.divider {
  background-color: white;
  height: 3px;
}




/* Media Queries
   ========================================================================== */
/* Mobile First is default*/


/* navigation bar */
/*=============================*/

div p.topbar-contact {
    margin: 0;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    -webkit-padding-start: 0;
    font-size: 1em;
    color: white;
    text-align: right;
    background-color: #4798C2;
    border-bottom: 1px dashed white;
}


/* Portfolio items */
/*=============================*/

section.hero-portfolio {
  padding: 5em;
}
.portfolio-box-parent {
  text-align: center;
  padding-top: 7em;
  padding-bottom: 7em;
}
.portfolio-box {
  display: inline-block;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
  padding-left: 35px;
  width: 250px;
  height: 250px;
  list-style-type: none;
}
.portfolio-box.esther-box {
  background-image: url("/img/esther.png");
}

/*.portfolio-box.esther-box {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.99),
      rgba(1, 134, 56, 0.8)
    ),
    url("/img/esther.png");
}*/

.portfolio-box.whack-box {
    background-image: url("/img/whack.png");
}

/*.portfolio-box.whack-box {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.99),
      rgba(1, 134, 56, 0.8)
    ),
    url("/img/whack.png");
}*/

.portfolio-box.calculator-box {
    background-image: url("/img/calculator.png");
}

/*.portfolio-box.calculator-box {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.99),
      rgba(1, 134, 56, 0.8)
    ),
    url("/img/calculator.png");
}*/


/* About */
/*===============================*/

section.about {
  text-align: center;
}
img.about-profile-photo {
  display: inline-block;
  border-radius: 55%;
}
div.about-bio {
  padding: 2em;
  max-width: 600px;
  display: inline-block;
}


/* Footer */
/*===============================*/

footer {
  color: #217cbb;
  text-align: left;
  padding-left: 100px;
}
footer p, 
i {
  display: inline-block;
}
div.footer-social-icons {
  width: 218px;
  text-align: left;
}



/*@media screen and (min-width:768px) and (max-width:992px) {

}*/

@media screen and (min-width:992px) and (max-width:1200px) {

footer {
  padding-left: 200px;
}

@media screen and (min-width:1201px) {

footer {
  padding-left: 200px;
}



}


